.sendMail {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  flex-direction: column;
  width: 500px;
  height: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #404040;
  color: white;
  border-radius: 20px;
  overflow: hidden;
}
.sendMail_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 0 20px;
}

.sendMail_body {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  flex: 1;
  padding: 10px 0;
}
.sendMail_body > input {
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
}
.sendMail_footer {
    display: flex;
    align-items: center;
    background-color: #404040;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding: 20px;
  }
.sendMail_footer > button {
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}
.close {
  color: white !important;
}
.input_body {
  flex: 1;
}
input:focus {
  outline: none;
}
